

<div class="container-fluid">
<div class="col-xs-12">
<div class="card-block"> 
<h6> Profile </h6>
<p class="card-text">
LAkshmi infotech Pvt Ltd is a recruitment agency in staffing and supplying manpower to different industries such as IT, ITES, NON-IT, etc.
We build our recruitment in a potential way, thereby assuring a perfect role, considering our client's needs and demands, 
which in turn leads to the candidate's satisfaction.</p>
<p class="card-text">
We are the professionals who understand the aggressive domain of the market schemes.We provide flexible and innovative 
outsourcing services to meet our client's needs. Our services include Direct Recruitment, Contractual Staffing, Selection,
 Hunting and Campaign Management, etc. 
 </p>
 <h6> Vision and Mission </h6>
 <p class="card-text">
 Our vision is more dreamt of than it is articulated. We exceed the expectations by rendering Human Resource solutions with the desired Quality, Values and efficient processes in order to meet both candidate's and client's requirements.
 </p>
 <p class="card-text">
 Our Mission is to give direction for growth and also intended to build a professional environment for maintenance and improvement which will deliver results to become the best concern, to provide manpower services among our competitors.
 </p>

</div>
</div>
</div>