

<div class="container-fluid">
<div class="col-xs-12">
<div class="card-block"> 
 <p class="card-text">Lakshmi infotech Pvt Ltd is a leading provider of Placement Consultants in Chennai, rendering placement services for IT, ITeS industrial sector.
<p class="card-text"><b>Our Recruitment:</b> Our course of action intended to find the right candidate for the right job
<p class="card-text"><b>Our Selection:</b> Our rigorous process of choosing the most suitable candidate for the job from a group of applicants
<p class="card-text"><b>our Planning:</b> Our recruitment deals with finding the applicants, communicating with them the opportunities and information thereby generating interest. We adopt a systematic process of choosing among the pool of candidates, who is most likely to perform the job successfully and contribute towards achieving organizational goals.
</div>
</div>
</div>
